 
<ion-content>
  <form class="p-3 mt-3" [formGroup]="formulario" (ngSubmit)="onLogin()">
    <div class="form">
      <div class="username">
        <input type="text" placeholder="CORREO ELECTRONICO" class="formControl" formControlName="Email" />
        <br>
        <span class="spin text-danger" color="danger"
          *ngIf="formulario.get('Email')?.hasError('required') && formulario.get('Email')?.touched">El Correo es
          requerido.</span>
        <span class="spin text-danger" color="danger"
          *ngIf="formulario.get('Email')?.hasError('pattern') && formulario.get('Email')?.touched">El Correo no tiene el
          formato correcto</span>
      </div>
      <div class="password">
        <input type="password" placeholder="CONTRASEÑA" class="formControl" formControlName="Password" />
        <br>
        <span class="spin text-danger" color="danger"
          *ngIf="formulario.get('Password')?.hasError('required') && formulario.get('Password')?.touched">La Contraseña
          es Requerida</span>
        <span class="spin text-danger" color="danger"
          *ngIf="formulario.get('Password')?.hasError('minLength') && formulario.get('Password')?.touched">La Contraseña
          debe contener al menos 6 caracteres</span>
      </div>
      <div class="login" (click)="onLogin()">
        <input type="button" value="INGRESAR" class="formControl" readonly />
        <!-- <label class="log">INGRESAR</label> -->
        <!-- <ion-tittle class="log">INGRESAR</ion-tittle> -->
        <!-- <button type="submit" class="log">INGRESAR</button> -->
      </div>
      <div class="registro" (click)="Registrar()">
        <input type="button" value="REGISTRAR" class="formControl" readonly />
        <!-- <button type="submit" [routerLink]="['/alta-clientes']" class="logRegistro">REGISTRAR</button> -->
      </div>
    </div>
  </form>
  <ion-fab vertical="start" horizontal="end" style="margin-top: 100px; margin-left: 25px">
    <ion-fab-button>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button> 
      <ion-fab-list>
        <ion-fab-button color="secondary" (click)="LoginUsuarioDuenio()">
          <img src="../../assets/accesosrapidos/gerente.png">
        </ion-fab-button>
        <ion-fab-button color="danger" (click)="LoginUsuarioMozo()">
          <img src="../../assets/accesosrapidos/camarero.png">
        </ion-fab-button>
        <ion-fab-button color="danger" (click)="LoginUsuarioCocinero()">
          <img src="../../assets/accesosrapidos/cocina.png">
        </ion-fab-button>
        <ion-fab-button color="danger" (click)="LoginUsuarioBartender()">
          <img src="../../assets/accesosrapidos/barman.png">
        </ion-fab-button>
        <ion-fab-button color="success" (click)="LoginUsuarioCliente()">
          <img src="../../assets/accesosrapidos/cliente.png">
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
 
</ion-content>

<ngx-spinner type=null template="<img src='./../../assets/cargando.gif' height='125'/>"> 
  <p>Cargando...</p>
</ngx-spinner>