<ion-header   [hidden]="scanActive">
  <ion-toolbar>
    <ion-title>Alta Dueño/Supervisor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" size="large" (click)="startScan()">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div  [hidden]="scanActive">
    <div style="  display: flex;
    justify-content: center;">
      <a (click)="tomarFoto()"><img src="./../../assets/sacarfoto.png"></a>
    </div>
 
    <br>
    <form [formGroup]="altaForm">
      <ion-item>
        <ion-label>Mail</ion-label>
        <ion-input type="text" [(ngModel)]='usuario.email' formControlName="email" >
        </ion-input> 
      </ion-item> 
      <small
      *ngIf="altaForm.get('email').hasError('required') && (altaForm.get('email').dirty || altaForm.get('email').touched)"
      style="color: var(--ion-color-danger)">Por favor, ingrese el nombre.</small>
      
      <ion-item>
        <ion-label>Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]='clave' formControlName="password" >
        </ion-input> 
      </ion-item> 
      <small
      *ngIf="altaForm.get('password').hasError('required') && (altaForm.get('password').dirty || altaForm.get('password').touched)"
      style="color: var(--ion-color-danger)">Por favor, ingrese el nombre.</small>

      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-input type="text" [(ngModel)]='usuario.nombre' formControlName="nombre" >
        </ion-input> 
      </ion-item> 
      <small
      *ngIf="altaForm.get('nombre').hasError('required') && (altaForm.get('nombre').dirty || altaForm.get('nombre').touched)"
      style="color: var(--ion-color-danger)">Por favor, ingrese el nombre.</small>
 
      <br>
      <br>
      <ion-item>
        <ion-label>Apellido </ion-label>
        <ion-input type="text" [(ngModel)]='usuario.apellido' formControlName="apellido">
        </ion-input> 
      </ion-item>
      <small
      *ngIf="altaForm.get('apellido').hasError('required') && (altaForm.get('apellido').dirty || altaForm.get('apellido').touched)"
      style="color: var(--ion-color-danger)"
      [ngClass]="altaForm.get('apellido').hasError('required') && altaForm.get('apellido').touched ? 'visible' : 'hidden'">Por
      favor, ingrese un apellido.</small>
   
      <br>
      <br>
      <ion-item>
        <ion-label>DNI</ion-label>
        <ion-input type="number" [(ngModel)]='usuario.dni' formControlName="dni" >
        </ion-input> 
      </ion-item>
      <small
      *ngIf="altaForm.get('dni').hasError('required') && (altaForm.get('dni').dirty || altaForm.get('dni').touched)"
      style="color: var(--ion-color-danger)"
      [ngClass]="altaForm.get('dni').hasError('required') && altaForm.get('dni').touched ? 'visible' : 'hidden'">Por
      favor, ingrese el dni.</small>

    <small
      *ngIf="altaForm.get('dni').hasError('max') && (altaForm.get('dni').dirty || altaForm.get('dni').touched)"
      [ngClass]="altaForm.get('dni').hasError('max') && altaForm.get('dni').touched ? 'visible' : 'hidden'"
      style="color: var(--ion-color-danger)">El dni no debe contener mas de 8 caracteres.</small>
      <small
      *ngIf="altaForm.get('dni').hasError('min') && (altaForm.get('dni').dirty || altaForm.get('dni').touched)"
     
      style="color: var(--ion-color-danger)">El dni debe contener al menos 8 caracteres.</small>
      <br>
      <br>
      <br>

      <br>
      <ion-item>
        <ion-label>CUIL</ion-label>
        <ion-input type="number" [(ngModel)]='usuario.cuil' formControlName="cuil" >
        </ion-input> 
      </ion-item>
      <small
      *ngIf="altaForm.get('cuil').hasError('required') && (altaForm.get('cuil').dirty || altaForm.get('cuil').touched)" 
      [ngClass]="altaForm.get('cuil').hasError('required') && altaForm.get('cuil').touched ? 'visible' : 'hidden'">Por
      favor, ingrese el cuil.</small>

    <small
      *ngIf="altaForm.get('cuil').hasError('max') && (altaForm.get('cuil').dirty || altaForm.get('cuil').touched)"
      [ngClass]="altaForm.get('cuil').hasError('max') && altaForm.get('cuil').touched ? 'visible' : 'hidden'"
      style="color: var(--ion-color-danger)">El cuil no debe contener mas de 11 caracteres.</small>
      <small
      *ngIf="altaForm.get('cuil').hasError('min') && (altaForm.get('cuil').dirty || altaForm.get('cuil').touched)" 
      style="color: var(--ion-color-danger)">El cuil debe contener al menos 11 caracteres.</small>

      <br> 
      <ion-label>Tipo de empleado</ion-label>
      <ion-list>
        <ion-radio-group formControlName="perfil">
          <ion-item>
            <ion-label>Dueño</ion-label>
            <ion-radio color='warning' slot="start" value="dueño"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Supervisor</ion-label>
            <ion-radio color='success' slot="start" value="supervisor"></ion-radio>
          </ion-item> 
        </ion-radio-group>
      </ion-list>


      <ion-button  expand="full" color="success" [disabled]="!altaForm.valid && path=='' " type="submit" (click)='aceptar()'>
        <ion-icon name="arrow-forward-circle-outline"></ion-icon>
        Aceptar
      </ion-button>
    </form>
  </div>
 

  <ion-row class="scanner-buttons" [hidden]="!scanActive">
    <ion-col  >
      <ion-button expand="full" (click)="stopScan()">Cancelar</ion-button>
    </ion-col>
   </ion-row>

   <div class="scan-box" [hidden]="!scanActive"> 
   </div> 
</ion-content>
