<ion-header> 
  <ion-toolbar color="warning"> 
    <ion-title>Inicio Metre</ion-title>
    <ion-button color="danger" (click)="cerrarSesion()"  slot="end"> 
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar> 
</ion-header>




<ion-content>

  <ion-row>
    <ion-col size="12">
      <div class="centrado" (click)="navegar('/alta-clientes')" >
        <img width="100px" src="./../../assets/imagenesHomes/comida-rapida.png">
        <p> Alta cliente</p>
      </div> 
    </ion-col>
    <ion-col size="12">
      <div class="centrado" (click)="navegar('/chat')" > 
        <img width="100px" src="./../../assets/imagenesHomes/burbuja-de-chat.png">
        <p>Sala de mensajes</p>
      </div> 
    </ion-col>
    <ion-col size="12">
      <div  class="centrado" (click)="navegar('/listado-pedidos')" >

        <img width="100px" src="./../../assets/imagenesHomes/comprobacion.png">
        <p>Listado pedidos</p>
      </div>
    </ion-col>

    <ion-col size="12">
      <div  class="centrado" (click)="navegar('/clientesingreso')" >

        <img width="100px" src="./../../assets/imagenesHomes/telefono-inteligente.png">
        <p>Clientes en espera de ingreso</p>
      </div>
    </ion-col>
  </ion-row>
  
</ion-content>

<ngx-spinner type=null template="<img src='./../../assets/cargando.gif' height='125'/>"> 
</ngx-spinner>