<ion-header [hidden]="scanActive">
  <ion-toolbar color="warning">
    <ion-title slot="start">Ingreso a Local </ion-title>
    <!-- <ion-button (click)="cerrarSesion()"  slot="end"> 
      <ion-icon name="exit-outline"></ion-icon>
    </ion-button> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="text-center">
    <h1>FLECHAS</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div id="empezar">
          <button class="btn btn-success btn-block" (click)="empezar()">Empezar</button>
        </div>
        <div class="row" *ngIf="tiempoTerminado">
          <div class="col-4">
            <h2>Puntos:</h2>
          </div>
          <div class="col-4">
            <h2>{{puntaje}}</h2>
          </div>
          <div class="col-12">
            <div *ngFor="let puntaje of listaOrdenada">
              <div class="row">
                <div class="col-4">
                  <h4>{{puntaje.usuario}}</h4>
                </div>
                <div class="col-4">
                  <h4>{{puntaje.puntos}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="empezado">
          <h2>Puntos:</h2>
          <h2>{{puntaje}}</h2>
          <p><strong>{{timeLeft}}</strong> Seconds Left....</p>
          <!-- <button (click)='startTimer()'>Start Timer</button>
          <button (click)='pauseTimer()'>Pause</button> -->
          <!-- <img  src="../../../assets/flechas/arriba.png"> -->
          <img id="img" [src]="getImage()" alt="">
          <div class="container">
            <div class="row">
              <div class="col text-center">
                <a class="btn btn-info btn-lg justify-content-center" (click)="onArriba()">
                  <span class="glyphicon glyphicon-arrow-up"></span>
                </a>
              </div>
            </div>
            <br>
            <div class="row justify-content-center">
              <div class="co-12">
                <div class="col-sm-4">
                  <a class="btn btn-info btn-lg" (click)="onIzquierda()">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                  </a>
                </div>
                <div class="col-sm-4">
                  <a class="btn btn-info btn-lg" (click)="onAbajo()">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                  </a>
                </div>
                <div class="col-sm-4">
                  <a class="btn btn-info btn-lg" (click)="onDerecha()">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>