#img{
    height: 300px;
    width: 300px;
    display:block;
    margin:auto;
    /*background-image: url('../../../assets/ahorcado/ahorcado.jpg');*/
}
 #up{
    margin-left: auto;
    margin-right: auto;
    display:block;
 }