<ion-header [hidden]="scanActive">
  <ion-toolbar color="warning">
    <ion-title slot="start">Ingreso a Local </ion-title>
    <!-- <ion-button (click)="cerrarSesion()"  slot="end"> 
      <ion-icon name="exit-outline"></ion-icon>
    </ion-button> -->
  </ion-toolbar>
</ion-header>
<ion-content slot="fixed" [hidden]="scanActive">
  <br><br>

  <br><br>

    <ion-button [hidden]="scanActive" expand="block" size="large" shape="round" color="success" (click)="startScan()">
      QR Ingreso
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-button>

  <ion-row class="scanner-buttons" [hidden]="!scanActive">
    <ion-col>
      <ion-button expand="full" (click)="stopScan()">Cancelar</ion-button>
    </ion-col>
  </ion-row>

  <div class="scan-box" [hidden]="!scanActive">
  </div>

  <!-- <ngx-spinner 
    bdColor="rgba(0,0,0,0.86)" 
    size="large"
    color="#0bbad2"  
    type="ball-8bits" 
    [fullScreen]="true"
    [name]="'logout'">
		<p style="color: white">Cerrando sesión ... </p>
	</ngx-spinner> -->
</ion-content>

<ngx-spinner type=null template="<img src='./../../assets/cargando.gif' height='125'/>"> 
  <p>Cargando...</p>
</ngx-spinner>