<ion-header>
  <ion-toolbar color="header">
    <ion-title>
      <ion-img style="width: 55px; height: 55px;" *ngIf="!spinner" src='assets/iconTransp2.png'></ion-img>
      <ion-img class="rotate-center" style="width: 55px; height: 55px;" *ngIf="spinner" src='assets/iconTransp2.png'></ion-img>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button style="margin: auto;" type="button" menu="menu" color="escanear"><ion-icon name="menu"></ion-icon></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content slot="fixed">
  <div class="container-datos">
    <h3>Encuesta de supervisor</h3>

    <div class="inputdiv" style="padding-top: 6px;" >
      <ion-item color="transp2">
        <ion-label color='dark' position="floating" class="label">Selecione tipo de usuario a calificar</ion-label>
          <ion-select  okText="Seleccionar" cancelText="Cancelar" [(ngModel)]="tipoUsuario" (ionChange)="AsignarTipo($event.target.value)">
            <ion-select-option [value]="cliente">Cliente</ion-select-option>
            <ion-select-option [value]="empleado">Empleado</ion-select-option>
          </ion-select>
      </ion-item>
    </div>

    <div class="inputdiv" style="padding-top: 6px;" *ngIf="tipoUsuario=='Cliente'  && !verEncuestas" >
      <ion-item color="transp2">
        <ion-label color='dark' position="floating" class="label">Clientes</ion-label>
          <ion-select okText="Seleccionar" cancelText="Cancelar" >
            <ion-select-option value="{{item.nombre}} {{item.apellido}}" *ngFor="let item of clientesValidos">{{item.nombre}} {{item.apellido}}</ion-select-option>
          </ion-select>
      </ion-item>
    </div>

    <div class="inputdiv" style="padding-top: 6px;" *ngIf="tipoUsuario=='Empleado' && !verEncuestasEmpleados">
      <ion-item color="transp2">
        <ion-label color='dark' position="floating" class="label">Empleados</ion-label>
          <ion-select  okText="Seleccionar" cancelText="Cancelar">
            <ion-select-option value="{{item.nombre}} {{item.apellido}}" *ngFor="let item of empleadosActuales">{{item.nombre}} {{item.apellido}}</ion-select-option>
          </ion-select>
      </ion-item>
    </div>
    

    <form [formGroup]="form" (ngSubmit)="EnviarEncuesta()" *ngIf="!verEncuestas && tipoUsuario=='Cliente'">
      <br>

      <!-- <ion-button type="button" class="omitir" fill="solid" expand="block" color="omitir" (click)="Omitir()">Omitir</ion-button> -->

      <div>
        <div class="inputdiv">
          <ion-label class="label">Calificar comportamiento</ion-label>
          <ion-item color="transp2">
            <ion-range color="dark" pin="true" min="1" max="10" step="1" snaps="true" formControlName="comportamiento">
              <ion-icon slot="start" name="walk"></ion-icon>
              <ion-icon slot="end" name="sparkles"></ion-icon>
            </ion-range>
          </ion-item>
          <ion-label class="invalid" *ngIf="form.controls['comportamiento'].errors?.['required'] && form.controls['comportamiento'].touched">
            Coloque en un valor.
          </ion-label>
        </div>

        <div class="inputdiv">
          <ion-item color="transp2">
            <ion-radio-group value="biff" formControlName="vecesQueViene" style="width: 100%;">
              <ion-label class="label" style="margin-bottom: 10px;">Viene seguido</ion-label>
              <ion-item color="transp">
                <ion-icon class="iconEst" style="color:#db5252;" name="sad-outline"></ion-icon>
                <ion-label>Pocas veces</ion-label>
                <ion-radio slot="start" value="pocas" color="dark"></ion-radio>
              </ion-item>
              <ion-item color="transp">
                <ion-icon class="iconEst" style="color:#e0cb4f;" name="alert-circle-outline"></ion-icon>
                <ion-label>Varias veces</ion-label>
                <ion-radio slot="start" value="varias" color="dark"></ion-radio>
              </ion-item>
              <ion-item color="transp">
                <ion-icon class="iconEst" style="color:#59c96c;" name="happy-outline"></ion-icon>
                <ion-label>Muchas veces</ion-label>
                <ion-radio slot="start" value="muchas" color="dark"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-item>
          <ion-label class="invalid" *ngIf="form.controls['vecesQueViene'].errors?.['required'] && form.controls['vecesQueViene'].touched">
            Seleccione una opción.
          </ion-label>
        </div>
      </div>

      <div class="inputdiv" style="padding-top: 6px;">
        <ion-item color="transp2">
          <ion-checkbox color="dark" formControlName="propina"></ion-checkbox>
          <ion-label class="label" style="margin-left: 20px;">¿Deja buena propina?</ion-label>
        </ion-item>
      </div>

      <div class="inputdiv" style="padding-top: 6px;">
        <ion-item color="transp2">
          <ion-label color='dark' position="floating" class="label">¿Con cuantos comensales suele venir?</ion-label>
            <ion-select value="0" formControlName="comensales" okText="Confirmar" cancelText="Cancelar">
              <ion-select-option value="0">Ninguno</ion-select-option>
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">Más de 3</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-label class="invalid" *ngIf="form.controls['comensales'].errors?.['required'] && form.controls['comensales'].touched">
          Campo requerido.
        </ion-label>
      </div>

      <div class="inputdiv">
        <ion-label color='dark' class="label">¿Algún comentario?</ion-label>
        <ion-item color="transp" style="padding: 10px">
          <ion-textarea formControlName="comentario"></ion-textarea>
        </ion-item>
      </div>

      <ion-button type="submit" class="ingreso" fill="solid" expand="block" color="enviar" id="enviar" style="margin-top: 23px;" [disabled]="form.invalid">Enviar</ion-button>
    </form>

    <form [formGroup]="formEmpleados" (ngSubmit)="EnviarEncuestaEmpleados()" *ngIf="!verEncuestasEmpleados && tipoUsuario=='Empleado'">
      <br>

      <!-- <ion-button type="button" class="omitir" fill="solid" expand="block" color="omitir" (click)="Omitir()">Omitir</ion-button> -->

      <div>
        <div class="inputdiv">
          <ion-label class="label">Calificar comportamiento</ion-label>
          <ion-item color="transp2">
            <ion-range color="dark" pin="true" min="1" max="10" step="1" snaps="true" formControlName="comportamiento">
              <ion-icon slot="start" name="walk"></ion-icon>
              <ion-icon slot="end" name="sparkles"></ion-icon>
            </ion-range>
          </ion-item>
          <ion-label class="invalid" *ngIf="formEmpleados.controls['comportamiento'].errors?.['required'] && formEmpleados.controls['comportamiento'].touched">
            Coloque en un valor.
          </ion-label>
        </div>

        <div class="inputdiv">
          <ion-item color="transp2">
            <ion-radio-group value="biff" formControlName="falta" style="width: 100%;">
              <ion-label class="label" style="margin-bottom: 10px;">Falta seguido</ion-label>
              <ion-item color="transp">
                <ion-icon class="iconEst" style="color:#59c96c;" name="happy-outline"></ion-icon>
                <ion-label>Pocas veces</ion-label>
                <ion-radio slot="start" value="pocas" color="dark"></ion-radio>
              </ion-item>
              <ion-item color="transp">
                <ion-icon class="iconEst" style="color:#e0cb4f;" name="alert-circle-outline"></ion-icon>
                <ion-label>Varias veces</ion-label>
                <ion-radio slot="start" value="varias" color="dark"></ion-radio>
              </ion-item>
              <ion-item color="transp">
                <ion-icon class="iconEst" style="color:#db5252;" name="sad-outline"></ion-icon>
                <ion-label>Muchas veces</ion-label>
                <ion-radio slot="start" value="muchas" color="dark"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-item>
          <ion-label class="invalid" *ngIf="formEmpleados.controls['falta'].errors?.['required'] && formEmpleados.controls['falta'].touched">
            Seleccione una opción.
          </ion-label>
        </div>
      </div>

      <div class="inputdiv" style="padding-top: 6px;">
        <ion-item color="transp2">
          <ion-checkbox color="dark" formControlName="llegaTarde"></ion-checkbox>
          <ion-label class="label" style="margin-left: 20px;">¿Llega tarde?</ion-label>
        </ion-item>
      </div>

      <div class="inputdiv" style="padding-top: 6px;">
        <ion-item color="transp2">
          <ion-label color='dark' position="floating" class="label">¿Inconvenientes con los clientes?</ion-label>
            <ion-select value="0" formControlName="inconvenientes" okText="Confirmar" cancelText="Cancelar">
              <ion-select-option value="0">Ninguno</ion-select-option>
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">Más de 3</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-label class="invalid" *ngIf="formEmpleados.controls['inconvenientes'].errors?.['required'] && formEmpleados.controls['inconvenientes'].touched">
          Campo requerido.
        </ion-label>
      </div>
      
      <div class="inputdiv">
        <ion-label color='dark' class="label">¿Algún comentario?</ion-label>
        <ion-item color="transp" style="padding: 10px">
          <ion-textarea formControlName="comentario"></ion-textarea>
        </ion-item>
      </div>

      <ion-button type="submit" class="ingreso" fill="solid" expand="block" color="enviar" id="enviarFormEmpleado" style="margin-top: 23px;" [disabled]="formEmpleados.invalid">Enviar</ion-button>
    </form>
  </div>

  <div class="container-datos" *ngIf="verEncuestas && tipoUsuario=='Cliente'">
    <ion-button type="button" fill="solid" expand="block" color="enviar" (click)="Omitir()">Continuar</ion-button>

    <ion-card>
      <ion-card-header>
        Comportamiento
      </ion-card-header>
      <ion-card-content>
        <canvas #comportamientoCanvas style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
       Viene seguido
      </ion-card-header>
      <ion-card-content>
        <canvas #vecesQueVieneCanvas style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
       Deja buena propina
      </ion-card-header>
      <ion-card-content>
        <canvas #propinaCanvas style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Con cuantos comensales viene
      </ion-card-header>
      <ion-card-content>
        <canvas #comensalesCanvas style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="container-datos" *ngIf="verEncuestasEmpleados && tipoUsuario=='Empleado'" >
    <ion-button type="button" fill="solid" expand="block" color="enviar" (click)="Omitir()">Continuar</ion-button>

    <ion-card>
      <ion-card-header>
        Comportamiento
      </ion-card-header>
      <ion-card-content>
        <canvas #comportamientoEmpleadosCanvas style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
       Falta
      </ion-card-header>
      <ion-card-content>
        <canvas #faltaCanvas style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
      Llega tarde
      </ion-card-header>
      <ion-card-content>
        <canvas #llegaTardeCanvas style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
       Inconvenientes
      </ion-card-header>
      <ion-card-content>
        <canvas #inconvenientesCanvas style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>