
 body{
    position: relative;
    height: 92vh;
    background-color: rgb(136, 171, 83);
}

.top{
   padding-top:15%;
}

.mg{
    margin-left:5px;
    margin-right:5px;
}

.title{
    padding-top:5%;
}

.mg-top{
    margin-top:5%;
}