
  ion-content{
    --overflow:hidden;
    --background: none;
    background: url("../../assets/background/bg.png");
    background-size: cover;
    background-position: center center;              
  }

.top{
   padding-top:15%;
}

.mg{
    margin-left:5px;
    margin-right:5px;
}

.title{
    padding-top:5%;
}

.text{
    color:black;
}

.mg-top{
    margin-top:5%;
}