<ion-header>
  <ion-toolbar >
    <ion-back-button defaultHref="home-empleado" slot="start"></ion-back-button>
    <ion-title>Alta de productos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form  [formGroup]="formProducto">
    <!-- Nombre -->
    <ion-item lines="full" class="input-wrapper">
      <ion-label position="fixed">Nombre</ion-label><br />
      <ion-input type="text" #nombre formControlName="nombre">
      </ion-input>
    </ion-item>
    <small class="invalid" *ngIf="formProducto.controls.nombre.errors?.required && formProducto.controls.nombre.touched ">El nombre es requerido</small> 
    <!-- descripcion -->
    <ion-item lines="full" class="input-wrapper">
      <ion-label position="fixed">Descripcion</ion-label><br />
      <ion-input type="text" #descripcion  formControlName="descripcion"> 
      </ion-input>
    </ion-item>
    <small class="invalid" *ngIf="formProducto.controls.descripcion.errors?.required && formProducto.controls.descripcion.touched ">La descripcion es requerida</small> 
    <!-- tiempo -->
    <ion-item lines="full" class="input-wrapper">
      <ion-label position="fixed">Tiempo</ion-label><br />
      <ion-input type="number" #tiempo formControlName="tiempo">
      </ion-input>
    </ion-item>
     <small class="invalid" *ngIf="formProducto.controls.tiempo.errors?.required && formProducto.controls.tiempo.touched ">El tiempo es requerido</small> 
     <!-- precio -->
     <ion-item lines="full" class="input-wrapper">
      <ion-label position="fixed">Precio</ion-label><br />
      <ion-input type="number" #precio formControlName="precio" >
      </ion-input>
    </ion-item>
    <small class="invalid" *ngIf="formProducto.controls.precio.errors?.required && formProducto.controls.precio.touched ">El precio es requerido</small> 
 
    <!-- imagen -->
    <ion-item class="image-item input-wrapper" *ngIf="i_NroImagen<3"> 
      <ion-col size="6">
        <ion-label>Fotos del producto (3)</ion-label>
      </ion-col>
      <ion-col size="6">
        <div class="mx-auto d-block circular--portrait image-default" (click)="tomarFotoProducto()"  #imagen>
          <img src="./../../../assets/plato.png" >
        </div>  
      </ion-col>  
    </ion-item> <br>
    <ion-row class="uploaded-images">
      <ion-avatar *ngFor="let item of producto.img_src; let index=index">
        <img [src]="item">
      </ion-avatar>
    </ion-row>
    <!-- SUBMIT --> 
      <ion-button  type="submit"   size="medium"  expand="full" color="success" (click)="GuardarNuevoProducto()"
      [disabled]="(!formProducto.valid || i_NroImagen<3)">Guardar </ion-button>
    
  </form>
</ion-content>

<ngx-spinner
type=null
template="<img src='./../../assets/icon-color.png' height='125'/>"
><p style="color: white" >Cargando... </p></ngx-spinner>