ion-content{
    --overflow:hidden;
    --background: none;
    background: url("../../assets/background/bg.png");
    background-size: cover;
    background-position: center center;              
  }