<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Detalle pedido- Mesa {{ pedido.numero_mesa }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--EMPLEADO DE LA COCINA / BARRA-->
  <div *ngIf="esEmpleado">
    <div *ngFor="let item of pedido.productos">
      <ion-card *ngIf="item.sector == sectorUserActual" style=" 
      text-align:center; 
      padding:8px;
    ">

        <ion-card-header>
          <ion-card-title> {{item.nombre}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-label>Cantidad pedida: {{item.cantidad}} </ion-label> <br>
          <ion-label>Estado: {{item.estadoProductoPedido}} </ion-label>
           
          <ion-button size="small" color="warning" *ngIf="(pedido.estado=='CONFIRMADO' || pedido.estado=='EN_ELABORACION') && item.estadoProductoPedido =='PENDIENTE'"
            (click)="cambiarEstado(item, 'EN_ELABORACION')">Iniciar preparacion</ion-button>
          <ion-button size="small" color="success" *ngIf="item.estadoProductoPedido =='EN_ELABORACION'"
            (click)="cambiarEstado(item,'TERMINADO' )">Finalizar preparacion</ion-button>
         
        </ion-card-content>

      </ion-card>
    </div>
  </div>


  <!---Detalle para el usuario-->
  <div *ngIf="esCliente"> 
    <ion-card>
      <ion-card-header>
        <ion-card-title>Detalle de su pedido</ion-card-title>
      </ion-card-header> 
      <ion-card-content>
        <ion-label>Estado: {{pedido.estado }}</ion-label><br>
        <ion-label>Total💵 ${{pedido.total}} </ion-label> <br>
        <ion-label>Tiempo estimado 🕗{{pedido.tiempo_elaboracion}} </ion-label> <br>
        <ion-button *ngIf="pedido.estado=='ENTREGADO'"color='success' (click)="confirmarRecepcion(  pedido.doc_id)">Confirmar recepcion</ion-button>
      </ion-card-content>
    </ion-card>
    <h1 style="color: #fd0000">Productos</h1>
    <div *ngFor="let item of pedido.productos">
    <ion-card style=" 
      text-align:center; 
      padding:8px;
    "> 
      <ion-card-header>
        <ion-card-title> {{item.nombre}}</ion-card-title>
      </ion-card-header> 
      <ion-card-content>
        <ion-label>{{item.nombre}}</ion-label><br>
        <ion-label>Cantidad pedida: {{item.cantidad}} </ion-label> <br>
      </ion-card-content> 
    </ion-card>
  </div>
</div>

  <!--DETALLE PARA EL MOZO-->
  <div *ngIf="esMetre">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Detalle del pedido</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-label>Estado: {{pedido.estado }}</ion-label><br>
        <ion-label>Total💵 ${{pedido.total}} </ion-label> <br>
        <ion-label>Tiempo estimado 🕗{{pedido.tiempo_elaboracion}} </ion-label> <br>
      </ion-card-content>
    </ion-card>
    <h1 style="color: #fd0000">Productos</h1>
    <div *ngFor="let item of pedido.productos">
    <ion-card style=" 
      text-align:center; 
      padding:8px;
    ">

      <ion-card-header>
        <ion-card-title> {{item.nombre}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-label>{{item.nombre}}</ion-label><br>
        <ion-label>Cantidad pedida: {{item.cantidad}} </ion-label> <br>
        <ion-label>Cantidad pedida: {{item.estadoProductoPedido}} </ion-label> <br>
      </ion-card-content>

    </ion-card>
  </div>
  </div>
</ion-content>