<ion-header [hidden]="scanActive">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Detalle pedido- Mesa {{ pedido.numero_mesa }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--EMPLEADO DE LA COCINA / BARRA-->
  <div *ngIf="esEmpleado">
    <div *ngFor="let item of pedido.productos">
      <ion-card *ngIf="item.sector == sectorUserActual" style=" 
      text-align:center; 
      padding:8px;
    ">

        <ion-card-header>
          <ion-card-title> {{item.nombre}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-label>Cantidad pedida: {{item.cantidad}} </ion-label> <br>
          <ion-label>Estado: {{item.estadoProductoPedido}} </ion-label>

          <ion-button size="small" color="warning"
            *ngIf="(pedido.estado=='CONFIRMADO' || pedido.estado=='EN_ELABORACION') && item.estadoProductoPedido =='PENDIENTE'"
            (click)="cambiarEstado(item, 'EN_ELABORACION')">Iniciar preparacion</ion-button>
          <ion-button size="small" color="success" *ngIf="item.estadoProductoPedido =='EN_ELABORACION'"
            (click)="cambiarEstado(item,'TERMINADO' )">Finalizar preparacion</ion-button>

        </ion-card-content>

      </ion-card>
    </div>
  </div>


  <!---Detalle para el usuario-->
  <div *ngIf="esCliente" [hidden]="scanActive">
    <div *ngIf="pedido.estado != 'CUENTA' && pedido.estado != 'PAGADO'  && pedido.estado != 'FINALIZADO'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Detalle de su pedido</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-label>Estado: {{pedido.estado }}</ion-label><br>
          <ion-label>Total💵 ${{pedido.total}} </ion-label> <br>
          <ion-label>Tiempo estimado 🕗{{pedido.tiempo_elaboracion}} </ion-label> <br>
          <ion-button *ngIf="pedido.estado=='ENTREGADO'" color='success' (click)="confirmarRecepcion(pedido.doc_id)">
            Confirmar recepcion</ion-button>
          <ion-button *ngIf="pedido.estado=='RECIBIDO'" color='success' (click)="pedirCuenta(pedido.doc_id)">Pedir
            cuenta</ion-button>
        </ion-card-content>
      </ion-card>
      <h1 style="color: #fd0000">Productos</h1>
      <div *ngFor="let item of pedido.productos">
        <ion-card style=" 
      text-align:center; 
      padding:8px;
      ">
          <ion-card-header>
            <ion-card-title> {{item.nombre}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>{{item.nombre}}</ion-label><br>
            <ion-label>Cantidad pedida: {{item.cantidad}} </ion-label> <br>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <!--DETALLE DE LA CUENTA-->
    <div *ngIf="pedido.estado == 'CUENTA' ||   pedido.estado == 'PAGADO'  || pedido.estado == 'FINALIZADO'">
      <ion-list>
        <ion-item *ngFor="let item of pedido.productos; let index=index">
          <ion-avatar>
            <img [src]="item.img_src">
          </ion-avatar>
          <ion-label>
            <h1>{{item.nombre}}</h1>
            <ion-row>

              <h2 style="margin-left:1em">$ {{item.precio}} X {{item.cantidad}}</h2>
            </ion-row>
          </ion-label>
          <strong>$ {{item.precio * item.cantidad}} </strong>

        </ion-item>
        <ion-label>Sub total ${{pedido.total}}</ion-label>
      </ion-list>
      <!--SOLO SI JUGO-->
      <div *ngIf="pedido.jugado">
        <h1>Descuento por juegos</h1>
        <ion-item *ngIf="pedido.descuento==0">
          <h1> {{pedido.nombreJuego}} </h1>
          <ion-row>
            <h2 style="margin-left:1em">Al menos lo intentaste, mas suerte la proxima 😁</h2>
          </ion-row>
        </ion-item>
        <ion-item *ngIf="pedido.descuento!=0"> 
 
          <ion-label>
            <h1> {{pedido.nombreJuego}}</h1>
            <ion-row>
              <h2 style="margin-left:1em">Resultado: ¡Ganó un {{pedido.descuento}}% de descuento!</h2>
            </ion-row>
          </ion-label>
        </ion-item>
      </div>

      <div *ngIf="pedido.estado == 'CUENTA' ">
        <h1>Propina</h1>
        <ion-button (click)="startScan()">
          <ion-icon name="qr-code-outline"></ion-icon>
          Escanear QR de propina
        </ion-button>


        <ion-row class="scanner-buttons" [hidden]="!scanActive">
          <ion-col>
            <ion-button expand="full" (click)="stopScan()">Cancelar</ion-button>
          </ion-col>
        </ion-row>

        <div class="scan-box" [hidden]="!scanActive">
        </div>
      </div>

    </div>
  </div>

  <!--DETALLE PARA EL MOZO-->
  <div *ngIf="esMetre">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Detalle del pedido</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-label>Estado: {{pedido.estado }}</ion-label><br>
        <ion-label *ngIf="pedido.estado=='FINALIZADO'" style="text-align: right;">Descuentos ${{pedido.descuento}}
        </ion-label> <br>
        <ion-label *ngIf="pedido.estado=='FINALIZADO'" style="text-align: right;">Propina: ${{pedido.propina}}
        </ion-label> <br>
        <ion-label style="text-align: right;">Total💵: ${{pedido.total}}</ion-label><br>

        <ion-label>Tiempo estimado 🕗{{pedido.tiempo_elaboracion}} </ion-label> <br>

      </ion-card-content>
    </ion-card>


    <h1 style="color: #fd0000">Productos</h1>
    <div *ngFor="let item of pedido.productos">
      <ion-card style=" 
      text-align:center; 
      padding:8px;
    ">

        <ion-card-header>
          <ion-card-title> {{item.nombre}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-label>{{item.nombre}}</ion-label><br>
          <ion-label>Cantidad pedida: {{item.cantidad}} </ion-label> <br>
          <ion-label>Estado: {{item.estadoProductoPedido}} </ion-label> <br>
        </ion-card-content>

      </ion-card>
    </div>
  </div>
</ion-content>


<ion-footer collapse="fade" [hidden]="scanActive"
  *ngIf="(pedido.estado == 'CUENTA' ||  pedido.estado == 'PAGADO'  || pedido.estado == 'FINALIZADO') && esCliente">

  <ion-label style="text-align: right;">Descuentos ${{(pedido.total * pedido.descuento)/100}} </ion-label> <br>
  <ion-label style="text-align: right;">Propina: ${{pedido.propina}} </ion-label> <br>
  <ion-label style="text-align: right;" *ngIf="pedido.estado=='CUENTA'">Total💵: ${{pedido.total + pedido.propina -
    ((pedido.total * pedido.descuento)/100)}}</ion-label>
  <ion-label style="text-align: right;"
    *ngIf="pedido.estado == 'FINALIZADO'|| pedido.estado == 'PAGADO'|| pedido.estado == 'COBRADO'">Total💵:
    ${{pedido.total}}</ion-label>
  <ion-button *ngIf="pedido.estado=='CUENTA'" [disabled]="pedido.estado!='CUENTA'" color='success'
    (click)="pagarPedido(pedido.doc_id )" expand="full" shape="round" color="success">
    PAGAR
  </ion-button>
</ion-footer>
<ion-footer collapse="fade" *ngIf=" esMetre && (pedido.estado == 'PENDIENTE' )">
  <ion-button expand="full" shape="round" color="success" (click)="confirmarPedido(pedido, 'CONFIRMADO')">Confirmar
    pedido</ion-button>

</ion-footer>
<ion-footer collapse="fade" *ngIf=" esMetre && (pedido.estado == 'TERMINADO' )">
  <ion-button expand="full" shape="round" color="success" (click)="confirmarPedido(pedido, 'ENTREGADO')">Entregar pedido
  </ion-button>
</ion-footer>
<ion-footer collapse="fade" *ngIf=" esMetre && (pedido.estado == 'PAGADO' || pedido.estado == 'COBRADO') ">

  <ion-label style="text-align: right;">Descuentos aplicados:  {{pedido.descuento}}%</ion-label> <br>
  <ion-label style="text-align: right;">Propina: ${{pedido.propina}}</ion-label> <br>
  <ion-label style="text-align: right;">Total💵: ${{pedido.total}}</ion-label>

  <ion-button *ngIf="pedido.estado=='PAGADO'" color='success' (click)="confirmarPago(pedido.doc_id)" expand="full"
    shape="round" color="success">
    Confirmar pago y liberar mesa
  </ion-button>
</ion-footer>
<ngx-spinner type=null template="<img src='./../../assets/cargando.gif' height='125'/>">
  <p>Cargando...</p>
</ngx-spinner>