
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container"> 

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="danger" size="large" (click)="cerrarSesion()">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    
    <a [routerLink]="['/alta-clientes']"><ion-button> Alta cliente</ion-button></a>
    <br><br>
    <br>
    <a [routerLink]="['/alta-empleado']"><ion-button> Alta empleado</ion-button></a>
    <br><br>
    <br> 
    <a [routerLink]="['/alta-mesa']"><ion-button> Alta mesa</ion-button></a>
    <br><br>
    <br>
    <a [routerLink]="['/alta-producto']"><ion-button> Alta producto</ion-button></a>
    <br><br>
    <br>
    <a [routerLink]="['/alta-supervisor']"><ion-button> Alta supervisor</ion-button></a>
    <br><br>
    <br>
    <a [routerLink]="['/listado-productos']"><ion-button> Listado productos</ion-button></a>
    <br><br>
    <br>
    <a [routerLink]="['/carta-productos']"><ion-button>Carta</ion-button></a>
    <br><br>
    <br>
    <a [routerLink]="['/chat']"><ion-button>Chat</ion-button></a>



  </div>
</ion-content>
