<ion-header>
  <!-- <ion-toolbar color="warning"> 
    <ion-back-button defaultHref="home" slot="start"></ion-back-button>
    <ion-title style="text-align: center;">Inicio Metre</ion-title>

  </ion-toolbar> -->

  <ion-toolbar color="warning">
    <ion-title>Inicio Cliente</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" size="large" (click)="cerrarSesion()">
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content slot="fixed" *ngIf="usuario" [hidden]="scanActive">
  <div class="container-datos" *ngIf="!escaneoMesa">
    <!-- ICONO DE COCINA CUANDO ESTA EL CLIENTE ASIGNADO -->
    <!-- <img *ngIf="usuario.mesa != ''" src="assets/iconTransp.png" style="margin-top: 10%;" width="120px"> -->

    <!-- <div style="height: 250px;">
      <ion-icon *ngIf="usuario.mesa != ''" name="qr-code-outline" style="margin-top: 20%; font-size: 150px;" color="claro" (click)="EscanearMesa()"></ion-icon> 
    </div> -->

    <ion-button [hidden]="scanActive" expand="block" size="large" shape="round" color="success" (click)="startScan()"
      *ngIf="usuario.mesa != ''">
      <ion-icon name="qr-code-outline" color="dark"></ion-icon>
      QR Mesa
    </ion-button>

    <div class="texto">
      <h4 *ngIf="usuario.mesa == ''">Espera a que se te asigne una mesa.</h4> <!-- No asignado y si ingreso -->
      <div *ngIf="usuario.mesa != ''">
        <!-- Si asignado y si ingreso -->
        <h1>Se le asigno la Mesa <b>{{usuario.mesa}}</b></h1>
        <h2>Escanee el QR de la mesa.</h2>
      </div>
    </div>
  </div>

  <div class="container-datos" *ngIf="escaneoMesa">
    <img src="../../assets/plato.png" style="margin-top: 10%;margin-left: 25%;" width="120px">

    <ion-button *ngIf="!tienePedidosEnCurso  && usuario.mesa != '' " type="button" fill="solid" expand="block" color="primary"
      style="height: 170px; margin-top: 20%;" (click)="RealizarPedido()">
      <ion-icon class="iconBoton" name="cart-outline"></ion-icon>
      <h3>Realizar pedido</h3>
    </ion-button>
    <ion-button *ngIf="usuario.mesa != ''" routerLink="../chat" type="button" fill="solid" expand="block"
      color="primary" style="height: 170px; margin-top: 10%;">
      <ion-icon class="iconBoton" name="chatbubbles-outline"></ion-icon>
      <h3>Consultar al mozo</h3>
    </ion-button>
    <ion-button *ngIf="tienePedidosEnCurso" routerLink="../detalle-pedido/" type="button" fill="solid" expand="block"
      color="primary" style="height: 170px; margin-top: 10%;">
      <ion-icon class="iconBoton" name="chatbubbles-outline"></ion-icon>
      <h3>Detalle pedido</h3>
    </ion-button>
    <ion-button *ngIf="tienePedidosEnCurso && (pedidoEnCurso.estado!='FINALIZADO' 
      || pedidoEnCurso.estado!='COBRADO' || pedidoEnCurso.estado!='PENDIENTE')" routerLink="../encuesta-cliente"
      type="button" fill="solid" expand="block" color="primary" style="height: 170px; margin-top: 10%;">
      <ion-icon name="help-outline"></ion-icon>
      <h3>Encuesta</h3>
    </ion-button>

    <div *ngIf="tienePedidosEnCurso && (pedidoEnCurso.estado!='CUENTA' || pedidoEnCurso.estado!='PAGADO' || pedidoEnCurso.estado!='FINALIZADO' 
      || pedidoEnCurso.estado!='COBRADO' || pedidoEnCurso.estado!='PENDIENTE') && pedidoEnCurso.jugado == false">
      <ion-button routerLink="../juegos/flechas" type="button" fill="solid" expand="block" color="primary"
        style="height: 170px; margin-top: 10%;" *ngIf="!pedidoEnCurso.jugado">
        <ion-icon class="iconBoton" name="game-controller-outline"></ion-icon>
        <h3>Juego Flechas</h3>
      </ion-button>
      <ion-button routerLink="../poke-preguntados" type="button" fill="solid" expand="block" color="primary"
        style="height: 170px; margin-top: 10%;" *ngIf="!pedidoEnCurso.jugado">
        <ion-icon class="iconBoton" name="game-controller-outline"></ion-icon>
        <h3>Juegos Pokemon</h3>
      </ion-button>
      <ion-button routerLink="../juego-cartas" type="button" fill="solid" expand="block" color="primary"
        style="height: 170px; margin-top: 10%;" *ngIf="!pedidoEnCurso.jugado">
        <ion-icon class="iconBoton" name="game-controller-outline"></ion-icon>
        <h3>Juego de cartas</h3>
      </ion-button>
    </div>
  </div>
</ion-content>
<ion-row class="scanner-buttons" [hidden]="!scanActive">
  <ion-col>
    <ion-button expand="full" (click)="stopScan()">Cancelar</ion-button>
  </ion-col>
</ion-row>

<div class="scan-box" [hidden]="!scanActive">
</div>
<ngx-spinner type=null template="<img src='./../../assets/cargando.gif' height='125'/>">
</ngx-spinner>