<ion-header>
  <ion-toolbar>
    <ion-title size="large">Inicio empleado</ion-title>
    <ion-button color="danger" (click)="cerrarSesion()" slot="end">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-row>
    <ion-col size="12">
      <div class="centrado"   (click)="navegar('/alta-producto')" >
        <img width="100px" src="./../../assets/imagenesHomes/comida-rapida.png">
        <p> Alta productos</p>
      </div> <br>
    </ion-col>
    <ion-col size="12">
      <div class="centrado" (click)="navegar('/listado-productos')" > 
        <img width="100px" src="./../../assets/imagenesHomes/pedido-en-linea.png">
        <p>Listado productos</p>
      </div> <br>
    </ion-col>
    <ion-col size="12">
      <div  class="centrado"  (click)="navegar('/listado-pedidos')" >

        <img width="100px" src="./../../assets/imagenesHomes/comprobacion.png">
        <p>Ordenes</p>
      </div>
    </ion-col>
  </ion-row>

</ion-content>
<ngx-spinner type=null template="<img src='./../../assets/cargando.gif' height='125'/>">
</ngx-spinner>