<ion-header >
  <ion-toolbar>
    <ion-title size="large">Inicio empleado</ion-title>
    <ion-button color="danger" (click)="cerrarSesion()"  slot="end"> 
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>
<ion-content>
<div id="container">  
 
  <a [routerLink]="['/alta-producto']"><ion-button> Alta productos</ion-button></a>
  <br><br> 
  <br>
  <a [routerLink]="['/listado-productos']"><ion-button> Listado productos</ion-button></a>
  <br><br>
  <br>
  <a [routerLink]="['/listado-pedidos']"><ion-button>Ordenes</ion-button></a>
  <br><br>
  <br> 
  <a [routerLink]="['/encuesta-supervisor']"><ion-button>Encuesta Supervisor</ion-button></a>
  <br><br>
  <br>   
</div>
</ion-content>
<ngx-spinner type=null template="<img src='./../../assets/cargando.gif' height='125'/>"> 
</ngx-spinner>
