<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="home" slot="start"></ion-back-button>
    <ion-title>Mesa {{nro_mesa}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <div *ngIf="perfil=='MOZO'"> 
    <ion-list>
      <ion-item>
        <ion-select placeholder="Elija mesa">
          <ion-select-option value="apples">Apples</ion-select-option> 
        </ion-select>
      </ion-item>
    </ion-list>
  </div>

  <div *ngFor="let mensaje of mensajes">
    <div class="row msg_container base_receive"
      *ngIf="mensaje.remitente != usuario_actual.email">

      <div class="col-xs-10 col-md-10">
        <div class="messages msg_receive">
          <p style="font-size: 15px;">{{mensaje.mensaje}} </p>
          <br>
          <time> {{mensaje.remitente}} • {{mensaje.diaHora }} </time>
        </div>
      </div>
    </div>
    <div class="row msg_container base_sent"
      *ngIf="mensaje.remitente == usuario_actual.email">
      <div class="col-md-10 col-xs-10 ">
        <div class="messages msg_sent">
          <p  style="font-size: 15px;">{{mensaje.mensaje}} </p><br>
          <time>{{mensaje.diaHora}} </time>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer keyboard-attach class="bar-stable item-input-inset">
  <ion-input type="text" placeholder="Escriba su mensaje..." maxlength="21"  [(ngModel)]="mensajeEnviar"></ion-input>
  <ion-button expand="full" shape="round" color="success" (click)="mandarMensaje()"> Enviar </ion-button>
</ion-footer>

 
<ngx-spinner
type=null
template="<img src='./../../assets/icon-color.png' height='125'/>"
><p style="color: white" >Cargando... </p></ngx-spinner>